.accords-page__container {
  display: flex;
  gap: 50px;
  max-width: 1280px;
  margin: 0 auto;
  padding: 40px 20px;
}

.accords-page__sidebar {
  position: sticky;
  top: 20px;
  height: fit-content;
  flex: 0 0 200px;
  border: 1px solid var(--gray-200);
  border-radius: 10px;
  align-self: flex-start;
}

.sidebar__title {
  font-size: 1.3rem;
  font-weight: 500;
  padding: 20px;
  border-bottom: 1px solid var(--gray-200);
}

.sidebar__list {
  list-style: none;
  padding: 15px;
}

.sidebar__item {
  padding: 12px 10px;
  margin-bottom: 5px;
  cursor: pointer;
  color: var(--gray-400);
  border-radius: 8px;
  transition: all 0.2s ease-in-out;
}

.sidebar__item:hover {
  color: var(--gray-400);
  background-color: var(--gray-50);
}

.sidebar__item.active {
  color: var(--gray-600);
  font-weight: 700;
}

.accords-page__main-content {
  flex: 1;
  min-width: 0;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.section-title {
  font-size: 1.1rem;
  font-weight: 500;
  margin-bottom: 20px;
  padding-bottom: 15px;
  padding-left: 15px;
}

.perfume-grid-custom .perfume-name {
  color: var(--gray-900);
}

.perfume-grid-custom .perfume-brand {
  color: var(--gray-700);
}

.accords-loading-text {
  padding: 4rem 0;
  text-align: center;
  color: var(--gray-400);
  font-size: 1rem;
}

@media (max-width: 1023px) {
  .accords-page__sidebar {
    flex: 0 0 max-content;
  }
}

@media (max-width: 767px) {
  .accords-page__container {
    flex-direction: column;
    gap: 25px;
    max-width: 100vw;
    overflow-x: hidden;
    padding: 0px 10px;
    overflow: visible;
  }

  .accords-page__sidebar {
    position: sticky;
    top: 0;
    z-index: 100;
    flex: auto;
    width: 100%;
    max-width: 100%;
    border: none;
    background-color: transparent;
    padding: 0;
  }

  .sidebar__title {
    display: none;
  }

  .sidebar__list {
    display: flex;
    overflow-x: auto;
    gap: 10px;
    white-space: nowrap;
    width: 100%;
    padding: 5px 0;
    box-sizing: border-box;
    background-color: var(--white-900);
  }

  .sidebar__list::-webkit-scrollbar {
    display: none;
  }

  /* 알약 버튼 */
  .sidebar__item {
    padding: 8px 18px;
    border: 1px solid var(--gray-200);
    border-radius: 20px;
    font-size: 0.95rem;
    color: var(--gray-800);
    transition: all 0.3s ease;
    font-weight: 500;
  }

  .sidebar__item.active {
    background-color: var(--main-color);
    color: var(--white-900);
    border-color: var(--main-color);
    font-weight: 500;
  }
}
