.note-card {
  display: flex;
  flex-direction: column;
  width: clamp(82px, 15vw, 115px);
  height: fit-content;
  gap: clamp(6px, 1vw, 10px);
  padding: clamp(6px, 1vw, 8px);
  background-color: var(--gray-200);
  border-radius: 10px;
  box-sizing: border-box;
  align-items: center;
}

.note-image {
  width: 100%;
  object-fit: cover;
  background-color: var(--white-900);
}

.note-name {
  font-size: 1rem;
  font-weight: 300;
  color: var(--gray-900);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  text-align: center;
}

@media (max-width: 1023px) {
  .note-name {
    font-size: 0.94rem;
  }
}
