.search-container {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  transition: all 0.5s ease-in-out;
  gap: 0.5rem;
  height: var(--search-height);
}

.search-field {
  flex: 1;
  border: none;
  outline: none;
  background: transparent;
  appearance: none;
  font-size: 1.125rem;
  height: var(--search-height);
  line-height: var(--search-height);
  padding: 0;
  margin: 0;
  color: inherit;
}

.search-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--gray-600);
  font-size: 1.5625rem;
  cursor: pointer;
}

.search-icon:hover {
  color: var(--gray-900);
}

.search-field::placeholder {
  color: var(--layering-mix-placeholder);
  transition: opacity 0.2s ease;
}

.search-field:focus::placeholder {
  opacity: 0;
}

/* variants */
.search-container.layering {
  --search-height: 3.5rem;

  width: 100%;
  max-width: 544px;
  padding: 0 1.625rem;
  background-color: var(--layering-mix-search);
  border-radius: 50px;
}

.search-container.main {
  --search-height: 3.125rem;

  width: 100%;
  max-width: 700px;
  padding: 0 1.625rem;
  background-color: var(--main-bar);
  border-radius: 40px;
  color: var(--gray-900);
}

.search-container.main .search-field::placeholder {
  color: var(--main-bar-placeholder);
}

/* 태블릿 (예: 1024px 이하) */
@media (max-width: 1024px) {
  .search-container.main {
    --search-height: 2.5rem;

    width: 400px;
  }

  .search-container.layering {
    --search-height: 2.375rem;

    width: 297px;
  }

  .search-field {
    font-size: 1.125rem;
  }
}

/* 모바일 (예: 768px 이하) */
@media (max-width: 768px) {
  .search-container.main {
    --search-height: 1.875rem;

    width: 300px;
    padding: 0 1.25rem;
  }

  .search-container.layering {
    --search-height: 2.1875rem;

    width: 306px;
    padding: 0 1.25rem;
  }

  .search-container.main .search-field::placeholder {
    color: transparent;
  }

  .search-field {
    font-size: 1.125rem;
  }

  .search-icon {
    flex-shrink: 0;
    font-size: 1.25rem;
  }
}
