.perfume-grid {
  display: grid;
  grid-template-columns: repeat(5, minmax(0, 1fr));
  gap: 3.125rem;
}

/* 태블릿 */
@media (max-width: 1023px) {
  .perfume-grid {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}

/* 모바일 */
@media (max-width: 767px) {
  .perfume-grid {
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 1rem;
  }
}
