.carousel-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
}

.carousel-track {
  display: flex;
  overflow-x: auto;
  gap: 16px;
  padding: 10px 0;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.carousel-track::-webkit-scrollbar {
  display: none;
}

.carousel-item {
  scroll-snap-align: start;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  width: calc((100% - (16px * 4)) / 5);
}

.carousel-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  background-color: transparent;
  border: none;
  color: var(--gray-200);
  font-size: 3.125rem;
  cursor: pointer;
  padding: 10px;
  transition:
    color 0.2s ease,
    opacity 0.3s ease;
}

.carousel-btn:hover {
  color: var(--gray-300);
}

.carousel-btn.left {
  left: -40px;
}
.carousel-btn.right {
  right: -40px;
}

.carousel-btn.hidden {
  opacity: 0;
  pointer-events: none;
}

/* 태블릿 */
@media (max-width: 1023px) {
  .carousel-item {
    width: calc((100% - (16px * 3)) / 4);
  }

  .carousel-wrapper {
    padding: 0 20px;
  }
}

/* 모바일 */
@media (max-width: 767px) {
  .carousel-item {
    width: calc((100% - (16px * 2)) / 3.4);
  }

  .carousel-btn {
    display: none;
  }
}
