.perfume-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1377px;
  width: 70%;
  padding: 40px;
  margin: 0 auto;
  background-color: var(--detail-background);
}

.perfume-info__img {
  width: 410px;
  height: 510px;
  object-fit: cover;
  border-radius: 10px;
}

.perfume-info__content {
  display: flex;
  flex-direction: column;
  width: 700px;
  gap: 20px;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.perfume-info__brand {
  font-size: 24px;
  font-weight: 700;
}

.perfume-info__name {
  font-size: 20px;
  font-weight: 500;
}

.perfume-info__gender {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 65px;
  height: 30px;
  border-radius: 10px;
  font-size: 18px;
  color: var(--detail-btn-text);
}

.perfume-info__gender--female {
  background-color: var(--female);
}

.perfume-info__gender--male {
  background-color: var(--male);
}

.perfume-info__gender--unisex {
  background-color: var(--unisex);
}

.perfume-info__content hr {
  margin-top: 10px;
  border: none;
  border-top: 0.5px solid var(--gray-200);
}

.perfume-info__notes {
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-size: 18px;
  font-weight: 600;
}

.perfume-info__notes-group {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.perfume-info__notes-label {
  font-size: 16px;
  font-weight: 500;
}

.perfume-info__notes-values {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.perfume-info__notes-value {
  font-size: 16px;
  font-weight: 400;
  padding: 3px 10px;
  border: 0.2px solid var(--gray-300);
  border-radius: 20px;
}

.perfume-info__graph {
  display: flex;
  flex-direction: column;
  gap: 10px;
  border: 0.5px solid var(--gray-200);
  border-radius: 10px;
  padding: 20px;
  font-size: 18px;
  font-weight: 500;
}

.perfume-info__accord {
  display: flex;
  align-items: center;
  gap: 12px;
}

.perfume-info__accord-name {
  font-size: 15px;
  font-weight: 400;
  width: 45px;
}

.perfume-info__accord-bar-wrap {
  width: 200px;
  background-color: #f0f0f0;
  border-radius: 20px;
}

.perfume-info__accord-bar {
  padding: 4px 0;
  background-color: #e8794a;
  font-size: 16px;
  font-weight: 300;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.perfume-info__description {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.perfume-info__description span {
  font-size: 16px;
  font-weight: 400;
}

.perfume-info__description p {
  font-size: 16px;
  font-weight: 200;
}
