.layering-page {
  min-height: 100vh;
  background: var(--layering-mix-background);
  padding: 20px;
}

.layering-page__content {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.layering-page__block {
  width: 100%;
  max-width: 544px;
}

/* main block만 다르게 */
.layering-page__block--main {
  max-width: 700px;
}
