.layering-perfume-selection {
  background-color: var(--layering-mix-background);
  border-radius: 20px;
  padding: 1.875rem;
  display: flex;
  flex-direction: column;
  gap: 41px;
  max-width: 625.5px;
  width: 100%;
  transition: all 0.3s ease-in-out;
}

/* 검색창과 필터 드롭다운 프레임 */
.layering-perfume-selection__controls {
  display: flex;
  flex-direction: column;
  gap: 0.81rem;
}

/* 향수 정보 영역 */
.layering-perfume-selection__content {
  display: flex;
  align-items: center;
}

/* 아무것도 선택되지 않았을 때 텍스트 스타일 */
.layering-perfume-selection__empty {
  width: 100%;
}

.empty-text {
  display: block;
  color: rgba(255, 255, 255, 0.4);
  font-size: 1rem;
  font-weight: 400;
}

@media (max-width: 1024px) {
  .layering-perfume-selection {
    max-width: 337px;
    gap: 20px;
    padding: 1.25rem;
  }

  .empty-text {
    font-size: 0.875rem;
  }
}

@media (max-width: 768px) {
  .layering-perfume-selection {
    width: 336px;
    gap: 20px;
    padding: 0.94rem;
  }
}
