.mypage-container {
  width: 100%;
  min-height: calc(100vh - 71px);
  display: flex;
  justify-content: center;
  padding: 40px 20px;
}

.mypage-layout {
  display: flex;
  width: 100%;
  max-width: 1200px;
  gap: 40px;
}

.main-content {
  flex-grow: 1;
}

@media (max-width: 1023px) {
  .mypage-layout {
    flex-direction: column;
    align-items: stretch;
  }
}
